<p id="notice"><%= notice %></p>

<h1>Overview for <%= date %></h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Sparkline</th>
      <th>Today</th>
      <th>Days to Recovery</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.find_each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <% training_loads = player.training_loads %> 
        <td><%= load_sparkline training_loads %></td>
        <%= training_load_for_date = training_load_for date, training_loads %>
        <td><%= training_load_for_date %></td>
        <td><%= recover_time_for date, training_load_for_date,  training_loads %> </td>
        <td><a href="<%= player_training_load_path(player) %>">Chart &raquo;</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
