<!DOCTYPE html>
<html>
<head>
  <title>Fit For 90 Warmup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller].capitalize%>" data-action="<%= params[:action] %>">

  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'controller_action', 'data-turbolinks-track' => true %>
</body>
</html>
